s
  | You said,
  +number #{answer}.

if correct
  s
    +x-loud
      +strong
        +high
          | #{boom()}
  s
    +reduced
      +number #{answer}
      | , is the correct answer!
else
  s
    +strong
      +slow
        +loud
          | #{darn()}
  s
    +number #{answer}
    | is the incorrect answer.

s
  | You have currently answered #{correctCount} out of #{questionCount} questions correctly.
