div(align="center")
  if isCorrect
    font(size="7") Correct! #{question.n1} #{question.operator} #{question.n2} = #{question.answer}
  else
    font(size="7") Incorrect! #{question.n1} #{question.operator} #{question.n2} = #{question.answer}
